@charset "UTF-8";

.hidden
{
  display: none;
}

p
{
	color: #636363;
	line-height: 100px;
	text-align: center;
	margin: 0;
  font-size: 30px;
}


div,p,body,header,footer,section,article,nav
{
	margin: 0;
	padding: 0;
}

img
{
	border: none;
	margin: 0;
	padding: 0;
}


body
{
	font-family: Helvetica, Arial, sans-serif;
	font-size: 12px;
	color: #333;
}
h1
{
  text-align: center;
}

h4
{
  text-align: center;
}

svg
{
  width: 150px;
}

#container
{
  margin: 0 auto;
	width: 960px;
	padding-left: 20px;
	padding-right: 20px;
}
.show-piece { display: block !important; opacity: 1 !important; }

.reset-screen
{
display: none;
padding-top: 20%;
opacity: 0;
position: absolute;
top: 0;
width: 100%;
height: 100%;
color: white;
background-color: rgba(0, 0, 0, 0.9);
}

#mainPage
{

}
